body {
    margin: 0;
    padding: 0;
    font-family: 'nunito',sans-serif;
}

.container {
    padding: 20px 0;
    width: 45%;
    height: 250px;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 5px 5px 11px rgba(113, 113, 113, 15%);
}

.panel {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

select {
    border: none;
    box-shadow: 5px 5px 11px rgba(113, 113, 113, 15%);
    width: 60%;
    height: 30px;
}

